.hero-container {
  overflow: hidden;
  min-height: calc(100vh - 83px);
  padding: 50px 0;
  display: flex;
  place-content: center;
  place-items: center;

  > div {
    width: 100%;
  }

  @media screen and (min-width: 990px) {
    padding: 50px 0;
  }

  @media screen and (min-width: 14000px) {
    padding: 100px 0;
  }

  .hero-title {
    position: relative;
    > h1 {
      font-weight: 700;
    }

    img {
      animation: spin 6s linear infinite;
      position: absolute;
      top: 5px;
      left: 155px;
      width: 50px;
      height: 50px;
      @media screen and (min-width: 990px) {
        top: 20px;
        left: 300px;
        width: 80px;
        height: 80px;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
